html, body{
	width: 100%;
	height: 100%;
}

.main{
	width: 100%;
	height:100%;
}

.container{
	width: 26%;
	min-width: 600px;
	height: 100%;
	/*background-color: red;*/
	position: relative;;
	margin: 0 auto;
}

.book{
	position: absolute;
	/*Add support for more screen heights*/
	top: 140px;
	bottom: 140px;
	width: 100%;
	height: auto;
	/*background-color: yellow;*/
	border-radius: 10px;
}

.front-page{


}

.front-page, .second-page{
	/*background-color: green;*/
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	backface-visibility: hidden;

	/*visibility: hidden;*/
}



.portfolio{
	background-color: pink;
}

.history{
	transform: rotateY(-90deg);
	transform-origin: "100%";
}

.contact{
	background-color: orange;
	transform: rotateY(90deg);
	transform-origin: "0";
}

.history, .portfolio, .contact{
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;

}

.contact{
	z-index: 1;
	background-color: orange;
}

.left-content{
	position: absolute;
	left: 100%;
}

.right-content{
	position: absolute;
	right: 100%;
}

.front-page, .second-page, .portfolio, .history, .contact{
	border-radius: 20px;
}

.updates{
	width: 100%;
	height: 50px;
	display: block;
	position: absolute;
	bottom: 0;
	background-color: red;
	-webkit-backdrop-filter: blur(10px); /* Safari 9+ */
	backdrop-filter: blur(10px); /* Chrome and Opera */
	background-color: rgba(0, 0, 0, 0.3);
}

.main{
	background-image: url('http://themes.pixelwars.org/bookcard/images/bckg/body-bg/linen.png');
}

.front-page > center >  h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bolder;
	font-size: 4rem;
	text-shadow: 1px 0px 0px #000;
	color: rgb(240, 240, 240);
}
.front-page > center >  h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: light;
	color: rgb(240, 240, 240);
	text-shadow: 1px 0px 0px #000;
}

.front-page >  h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: Light;
	margin-top: -0.5rem;
	margin-bottom: 2.5rem;
	margin-left: 1.5rem;
	color: rgb(240, 240, 240);
	text-shadow: 1px 0px 0px #000;
	position: relative;
	text-align: left;

}
.front-page >  h2{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bolder;
	margin-left: 1.5rem;
	color: rgb(240, 240, 240);
	text-shadow: 1px 0px 0px #000;
	text-align: left;
	position: relative;

}

.openButton{
	position: absolute;
	top:	50%;
	right: 5px;
}

/* Sidelines Text Divider*/

.type-sidelines {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.type-sidelines span {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.type-sidelines span:before, .type-sidelines span:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 9999px;
  top: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}

.type-sidelines span:before {
  right: 100%;
}

.type-sidelines span:after {
  left: 100%;
}

.custom {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.custom span {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.custom span:before, .custom span:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  border-top-style: dotted;
  border-top-width: 4px;
  border-top-color: #fff;
  margin-top: -2px;
}

.custom span:before {
  right: 100%;
}

.custom span:after {
  left: 100%;
}

/*Timeline*/

.timeline .timeline-item::after, .timeline .timeline-item::before {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}

.timeline::before {
  background: #fefefe;
  content: '';
  height: 90%;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 3px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

.timeline a {
  color: #fefefe;
  font-weight: bold;
  transition: all 0.25s ease-in;
}

.timeline a:hover {
  box-shadow: 0 1px 0px 0px #fefefe;
  transition: all 0.25s ease-in;
}

.timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline .timeline-item .timeline-icon {
  background: #fefefe;
  border-radius: 50%;
  height: 25px;
  left: 15px;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 6px;
  width: 25px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
  left: 14px;
  position: relative;
  top: 11px;
}

.timeline .timeline-item .timeline-icon svg {
  top: 14px;
}

.timeline .timeline-item .timeline-content {
  padding: 0px 0px 0px 30px;
  text-align: left;
  transition: all 0.25s ease-in;
  width: 100%;
  background: transparent;
}

.timeline .timeline-item .timeline-content p {
  color: #fefefe;
}

.timeline .timeline-item .timeline-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

@media screen and (max-width: 39.9375em) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 80%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #fefefe;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

/*History*/

.history, .portfolio, .contact, .second-page{
	background-color: #1b1717;
	padding: 20px 30px 20px 30px;
	border: 1px solid #000;
	color: white;
}
.simplebar-scrollbar{
	background: rgb(46, 45, 45);
}
::-webkit-scrollbar {
    display: none;
}
.history{
			box-shadow: inset -62px 2px 70px -40px rgba(0, 0, 0, 0.2),-10px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.portfolio{
	box-shadow: inset -62px 0px 70px -40px rgba(0, 0, 0, 0.2), inset 62px 0px 70px -40px rgba(0, 0, 0, 0.2);
}

.contact{
	box-shadow: inset 62px 0px 70px -40px rgba(0, 0, 0, 0.2), 10px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

 h1, h2, h3, h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: 0px 1px 1px #000;
	color: white;
}

.history > h1{
	font-weight: bolder;
}

.history > h3{
	font-weight: lighter;;
}

.header-border{
	width: inherit;
	border: 2px solid rgba(255, 255, 255, 0.7);
	padding: 0 10px 0 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.second-page{
		z-index: 2;
		background-color: rgb(26, 26, 26);
}
